@use "../style/common" as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: var(--black) solid 1px;
  border-radius: 15px;
  max-width: 910px;
  width: 100%;
  @include adaptiveHardValues(padding, 20, 30, 40, false, 50);
  @include adaptiveHardValues(margin-top, 10, false, 15, false, 20);

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
